<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"
></script>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid" *ngIf="showHeader">
    <!-- <img class="app-logo" src="../../assets/img/logo.webp" /> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav menu-list">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/home'">Home</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" [routerLink]="'/profiles'">Profiles</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="'/'">About Us</a>
        </li>       
       
      </ul>



      <ul class="navbar-nav menu-icon-list">     
       
        <li class="nav-item" *ngIf="!loggedIn">
          <a class="nav-link" [routerLink]="'/login'"
            >Login</a>
        </li> 
        <li class="nav-item" *ngIf="loggedIn" (click)="logout()">
          <a class="nav-link" 
            >Logout</a>
        </li>           
        
      </ul>
    </div>
  </div>
</nav>
