.app-logo {
    height: 50px;
    width: auto;
}
.nav-link {
    //color: #00b4d8 !important;
    color:white
}
.menu-list {
    background-color: #00b4d8 !important;;
    //background-color: #fff;
}
.menu-list {
    display: flex;
    width: 100%;
    justify-content: center;
}
.navbar {
    border: 1px solid #00b4d8;
    
    background-color: #00b4d8;
}

nav .navbar-nav li a {
    &:active {
        background-color: #fff;
        font-weight: bold;
    }
}
nav .navbar-nav li .dropdown-item {
    &:active {
        background-color: #fff;
        font-weight: bold;
    }
}



