<div class="row">
  <h2 class="main_heading">Services</h2>

  <div class="col-lg-4">
    <div class="box">
      <div class="productCard">
        <div class="image">
          <img src="../../../assets/img/services.jpg" alt="" />
        </div>
        <div class="desc">
          <h1>Weaving Studio</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="box">
      <div class="productCard">
        <div class="image">
          <img src="../../../assets/img/services.jpg" alt="" />
        </div>
        <div class="desc">
          <h1>Workshops</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="box">
      <div class="productCard">
        <div class="image">
          <img src="../../../assets/img/services.jpg" alt="" />
        </div>
        <div class="desc">
          <h1>Gifting</h1>
        </div>
      </div>
    </div>
  </div>
  
</div>
