.forgot_passwordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
    font-family: 'sens', sans-serif;
    color: #A94724;
}

.forgot_passwordMain {
    width: 25rem;
    padding: 1.8rem 3rem;
    border: 1px solid #c0bfbf;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.forgot_passwordHeading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 1rem;
}

.forgot_passwordModules {
    margin-bottom: 10px;

    input[type="text"],
    input[type="email"] {
        width: 100%;
        padding: .5rem;
        margin-bottom: .6rem;
        border-radius: 3px;
        border: none;
        outline: none;
        border-bottom: 1px solid black;
    }
}

.forgot_passwordButtons {
    text-align: center;
    padding: 1rem;
}

.forgot_passwordButton {
    padding: .7rem;
    width: auto;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #db683e;
    font-size: 14px;
}

.forgot_passwordButton:hover {
    background-color: #a94724;
}

.forgot_passwordlabel {
    display: block;
    padding-bottom: .5rem;
    padding-top: .5rem;
    font-size: 16px;
}