<div class="forgot_passwordContainer">
    <div class="forgot_passwordMain">
        <form class="forgot_passwordModules">
            <h2 class="forgot_passwordHeading">Forgot Password?</h2>
            <label class="forgot_passwordlabel">Username</label>
            <input type="text" class="forgot_passwordInput" name="userName" />
            <label class="forgot_passwordlabel">Email</label>
            <input type="email" class="forgot_passwordInput" name="email" />

            <div class="forgot_passwordButtons">
                <button class="forgot_passwordButton" type="submit" (click)="onSubmit()">Get Password</button>
            </div>

        </form>
    </div>
</div>